# Python Datetime

In [6]:
import numpy as np
import pandas as pd
from datetime import datetime

## Time Series

In [7]:
my_year = 2022
my_month = 1
my_day = 2
my_hour = 13
my_minute = 30
my_second = 15

In [14]:
my_date = datetime(my_year,my_month,my_day)
my_date

datetime.datetime(2022, 1, 2, 0, 0)

In [15]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_minute,my_second)
my_date_time

datetime.datetime(2022, 1, 2, 13, 30, 15)

In [16]:
print(my_date.day)
print(my_date_time.hour)
print(my_date_time.year)

2
13
2022

## Numpy Datetime

pass in a different measurement, such as <TT>[h]</TT> for hour or <TT>[Y]</TT> for year

In [17]:
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64')

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [18]:
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[h]')

array(['2016-03-15T00', '2017-05-24T00', '2018-08-09T00'],
      dtype='datetime64[h]')

In [19]:
np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[Y]')

array(['2016', '2017', '2018'], dtype='datetime64[Y]')

### Date Range

Just as <tt>np.arange(start,stop,step)</tt> can be used to produce an array of evenly-spaced integers, we can pass a <tt>dtype</tt> argument to obtain an array of dates. Remember that the stop date is <em>exclusive</em>.

In [20]:
np.arange('2018-06-01', '2018-06-23', 7, dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [21]:
np.arange("1980","1997", dtype="datetime64[Y]")

array(['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996'], dtype='datetime64[Y]')

## Pandas Time Series

In [23]:
idx = pd.date_range("7/8/2018", periods=7, freq="D")
idx

DatetimeIndex(['2018-07-08', '2018-07-09', '2018-07-10', '2018-07-11',
               '2018-07-12', '2018-07-13', '2018-07-14'],
              dtype='datetime64[ns]', freq='D')

In [26]:
idx = pd.date_range("sep 01, 1998", periods=7, freq="D")
idx

DatetimeIndex(['1998-09-01', '1998-09-02', '1998-09-03', '1998-09-04',
               '1998-09-05', '1998-09-06', '1998-09-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
idx = pd.to_datetime(['Jan 01, 2018','1/2/18'])
idx

DatetimeIndex(['2018-01-01', '2018-01-02'], dtype='datetime64[ns]', freq=None)

In [31]:
idx = pd.to_datetime(['Jan 01, 2018','1/2/18','03-Jan-2018', None])
idx #Default freq=None

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', 'NaT'], dtype='datetime64[ns]', freq=None)

In [33]:
pd.to_datetime(["2/1/2022","3/1/2022"], format="%d/%m/%Y")

DatetimeIndex(['2022-01-02', '2022-01-03'], dtype='datetime64[ns]', freq=None)

In [34]:
pd.to_datetime(["2/1/2022","3/1/2022"])

DatetimeIndex(['2022-02-01', '2022-03-01'], dtype='datetime64[ns]', freq=None)

In [35]:
pd.to_datetime(["2--1--2022","3--1--2022"], format="%d--%m--%Y")

DatetimeIndex(['2022-01-02', '2022-01-03'], dtype='datetime64[ns]', freq=None)

In [37]:
some_date = np.array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype="datetime64[D]")
some_date

array(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[D]')

In [38]:
idx = pd.DatetimeIndex(some_date)
idx

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [39]:
data = np.random.randn(3,2)
cols = ["A","B"]
print(data)

[[ 1.02824246 -0.12452632]
 [ 0.33673368  0.23553104]
 [-1.02721268  0.39394057]]

In [40]:
df = pd.DataFrame(data,idx, cols)
df

                   A         B
2016-03-15  1.028242 -0.124526
2017-05-24  0.336734  0.235531
2018-08-09 -1.027213  0.393941

In [41]:
df.index

DatetimeIndex(['2016-03-15', '2017-05-24', '2018-08-09'], dtype='datetime64[ns]', freq=None)

In [42]:
df.index.max()

Timestamp('2018-08-09 00:00:00')

In [43]:
df.index.argmax()

2

<div class="alert alert-info"><strong>NOTE:</strong> Normally we would find index locations by running <tt>.idxmin()</tt> or <tt>.idxmax()</tt> on <tt>df['column']</tt> since <tt>.argmin()</tt> and <tt>.argmax()</tt> have been deprecated. However, we still use <tt>.argmin()</tt> and <tt>.argmax()</tt> on the index itself.</div>