## Feature Extraction

In [9]:
with open("One.txt") as mytext:
    a = mytext.read()
a

'This is a story about dogs\nour canine pets\nDogs are furry animals\n'

In [10]:
a.lower().split()

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [11]:
with open("One.txt") as mytext:
    a = mytext.readlines()
a

['This is a story about dogs\n',
 'our canine pets\n',
 'Dogs are furry animals\n']

In [13]:
with open("One.txt") as mytext:
    words_one = mytext.read().lower().split()
    uni_words_one = set(words_one)
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [17]:
with open("Two.txt") as mytext:
    words_two = mytext.read().lower().split()
    uni_words_two = set(words_two)
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [20]:
all_uni_words = set()
all_uni_words.update(uni_words_one)
all_uni_words.update(uni_words_two)
all_uni_words
# boş bir set oluşturuldu .update ile içine uni_words
# .. setleri atıldı ve Unique kelimeleri birleştirdik.

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [22]:
full_vocab = dict()
i=0

for word in all_uni_words:
    full_vocab[word] = i
    i = i+1

full_vocab

{'catching': 0,
 'dogs': 1,
 'our': 2,
 'a': 3,
 'waves': 4,
 'are': 5,
 'canine': 6,
 'water': 7,
 'furry': 8,
 'surfing': 9,
 'about': 10,
 'popular': 11,
 'pets': 12,
 'this': 13,
 'is': 14,
 'fun': 15,
 'sport': 16,
 'story': 17,
 'animals': 18}

In [31]:
one_freq = [0]*len(full_vocab)
two_freq = [0]*len(full_vocab)
all_words = [""]*len(full_vocab)

In [32]:
with open("One.txt") as f:
    one_text = f.read().lower().split()

In [33]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

one_freq

[0, 2, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1]

In [34]:
with open("Two.txt") as f:
    two_text = f.read().lower().split()

In [35]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

two_freq

[1, 0, 0, 1, 1, 0, 0, 1, 0, 2, 1, 1, 0, 1, 3, 1, 1, 1, 0]

In [38]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word
    
all_words

['catching',
 'dogs',
 'our',
 'a',
 'waves',
 'are',
 'canine',
 'water',
 'furry',
 'surfing',
 'about',
 'popular',
 'pets',
 'this',
 'is',
 'fun',
 'sport',
 'story',
 'animals']

In [39]:
import pandas as pd

In [42]:
bow = pd.DataFrame(data=[one_freq,two_freq], columns=all_words)
bow

,catching,dogs,our,a,waves,are,canine,water,furry,surfing,about,popular,pets,this,is,fun,sport,story,animals
0,0,2,1,1,0,1,1,0,1,0,1,0,1,1,1,0,0,1,1
1,1,0,0,1,1,0,0,1,0,2,1,1,0,1,3,1,1,1,0